@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
html {
    height:100vh;
}

#googleMap{
    padding-left:0px;
    float:right;
    clear:right;
}
body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;


}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.2em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar {
    /* don't forget to add all the previously mentioned styles here too */
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
    height: 100vh;
    width:15%;
}


#sidebar .sidebar-header {
    padding-left:5px;
    padding-top:5px;
    padding-bottom: 2px;
    background: #6d7fcc;
    text-align: center;
    color:red;
}

#sidebar ul.components {
    padding-top: 20px;
    border-bottom: 1px solid #47748b;
    padding-left:0px;
    
}

#sidebar ul p {
    color: #fff;
    padding-left:0px;
}
#sidebar ul p:hover {
    color: #7386D5;
    background: #fff;
    text-align: center;
}
#sidebar ul li a {

    font-size: 1.1em;
    display: block;
    
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}
#specifications {
    background:white;
    color:white;
    
}
